<div class=" container justify-content-center">
    <table id="dataTable" class="table row-border table-bordered table-condensed bg-stripped table-responsive display"
        cellspacing="1">
        <thead id="thead" class="bg-info text-white shadow">
            <tr>
                <th class=" text-center col-sm-2">Title</th>
                <th class="text-center col-sm-5">Note</th>
                <th class="text-center col-sm-3">Images</th>
                <th class="text-center col-sm-1">tags</th>
                <th class="text-center col-sm-1">Operations</th>
            </tr>
        </thead>
        <tbody id="tbody" class="text-dark">
            <% notes.forEach((note)=>{ %>
            <tr>
                <td class="col-sm-2">
                    <h3><%= note.title %></h3>
                </td>
                <td class="text-center col-sm-5">
                    <div id="demo" class="comment more">
                        <%= note.note %>
                    </div>
                </td>
                    <td class="text-center col-sm-3">
                    <div class="card-group">
                    <% for(let url of note.imgUrl){%>        
                        <form  action="/deleteimg/<%= note.id %>" method="POST">
                            <input type="hidden" value="<%= url %>" name="url" />
                            <div class="card m-1" style="width: 6rem;">
                                <img class="card-img-top" src="<%= url %>" alt="Card image cap">
                                <div class="card-footer justify-content-center">
                                    <button type="submit" class="btn crss text-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </form>
                    <% } %>
                    </div>
                </td>
                <td class="col-sm-1">
                    <% for(let tag of note.tags){%>
                    <kbd><%= tag %> <form class=" btns text-danger" action="/tag_delete/<%= note.id %>" method="POST">
                            <input type="hidden" value="<%= tag %>" name="tag" />
                            <button type="submit"
                                class="crss"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </form>
                    </kbd>
                    <% } %>
                </td>
                <td class="text-center col-sm-1">
                    <a class="btns" href="/edit/<%= note.id %>">
                        <button class="btn btn-primary btn-sm m-1 a-btn-slide-text">
                            <span class="glyphicon glyphicon-edit"></span>
                            <span>Edit</span>
                        </button>
                    </a>
                    <form class="btns" action="/delete/<%= note.id %>?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-sm a-btn-slide-text">
                            <span class="glyphicon glyphicon-remove"></span>
                            <span>Delete</span>
                        </button>
                    </form>
                    <a class="btns" href="/noteView/<%= note.id %>">
                        <button class="btn btn-primary btn-sm m-1 a-btn-slide-text">
                            <span class="glyphicon glyphicon-share"></span>
                            <span>View</span>
                        </button>
                    </a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>